@model IEnumerable<DbFirstCrud.Models.Product>

@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();

    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<style>
    .Avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%
    }

</style>

<h1>Product List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<partial name="_Pager" model="@pager" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CategoryNavigation)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.ImageUrl" alt="" class="Avatar" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.CategoryNavigation.CtCode)
                </td>*@
                <td class="p-2">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Code">Edit</a>
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Code">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Code">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Pager" model="@pager" />